footer {
    background-color: map-get($background-color, footer );
    
    margin-right: 0%;
    padding-bottom: 30px;
    
    .footer_firstsection {
        display: grid;
        padding-left: 1rem;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        grid-template-areas: 
        "ele1 ele2"
        "ele3 ele4"
        ;
       
     
         
    
       
       
    .footer_redessociales {
        color: white;       
        text-decoration: none;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;               
       }

     .ele3_section {
        grid-area: ele3;
        font-weight: bolder;
        color: black;
    }

    .ele4_section {        
        grid-area: ele4;
        text-align: right;
        margin-right: 1rem;      
      
        .links {
        text-decoration: none;
        color: black;   
     }
   
        .redes_links {
        color: white;
        text-decoration: none;    
     }
   }
  }
}
.footer__title {
  
  margin-bottom: 1rem;
  padding-top: 1rem;
  text-decoration: none;
  font-weight:bolder ;
  font-size: 30px;
  margin-top: 1rem;
  color: $color-amarillo;

  &--contacto_h3 {
  @extend .footer__title;                          
  grid-area: ele1    ;
  justify-self: left;
  border-style: dotted;
  }
 
  &--footer_h3 {
    @extend .footer__title;        
  text-decoration: none;
  max-height: 100%;
  }


  &--redes_h3 {
  @extend .footer__title ;
  padding-bottom: 1.2rem;             
  text-align: right;
  grid-area: ele2;
  justify-self: right ;
  margin-right: 1rem;
  border-style: dotted;  
  
 }  
}







