@media screen and (max-width: 1025px) {
    
    .index_main_video {
        display: flex;
        margin-bottom: 30px;
        padding-left: 25%;
        padding-right: 25%;
    }
    #campnou_video {
        display: flex;
        margin-bottom: 30px;
        padding-left: 25%;
        padding-right: 25%;
    }

    #jugadores_video {
        margin-bottom: 30px;
        padding-left: 10%;
        padding-right: 25%;
    }
    #video_logros {
        margin-bottom: 30px;
        padding-left: 15%;
        padding-right: 25%;
    }
    .h1font {
        
        font-weight: bolder;
    }
    .fotoequipo {
        padding-right: 8% ;
        padding-left: 8%;
        padding-bottom: 2rem;
    }
  
    
}
@media screen and (max-width: 769px) {
    .index_main_video {
        display: flex;
        margin: 0;
        padding-right: 16px;
        padding-left: 16px;
    }
    #campnou_video {
        display: flex;
        margin: 0;
        padding-right: 16px;
        padding-left: 16px;
    }
    #jugadores_video {
        display: flex;
        margin: 0;
        padding-right: 16px;
        padding-left: 16px;
    }
    #video_logros {
        display: flex;
        margin: 0;
        padding-right: 16px;
        padding-left: 16px;
    }
    .h1font {
        font-size: 60px;
        font-weight: bolder;
    }
    

}
@media screen and (max-width: 500px) {
    
   
    .index_main_video {
        display: flex;
        margin: 0;
        padding-right: 16px;
        padding-left: 16px;
        
    }
    #campnou_video {
        display: flex;
        margin: 0;
        padding-right: 16px;
        padding-left: 16px;
        
        margin-bottom: 20px;
    }
    #jugadores_video {
        display: flex;
        margin: 0;
        padding-right: 16px;
        padding-left: 16px;
        
        margin-bottom: 20px;
    }
    #video_logros {
        display: flex;
        margin: 0;
        padding-right: 16px;
        padding-left: 16px;
        
        margin-bottom: 20px;
    }
    #fotocontacto {
        display: flex;
        margin: 0;
        padding-right: 16px;
        padding-left: 16px;
        
        margin-bottom: 20px;
    }
    .card__index {
        width: 300px;
        margin-left: 1rem;
        max-height: 35vh;
        overflow: scroll;
    }
   
    .footer_h3 {
        font-size: 20px;
        border-color: 3px ;
        top: 0;
        margin-bottom: 15px;
        
    
    }
    .redes_h3{
        font-size: 17px;
        border-color: 3px ;
        top: 0;
        padding: 8px;
        
    }
    .ele3_section {
        font-size: 12px;
    }
    .ele4_section {
        font-size: 12px;
    }
    .h1font {
        font-size: 60px;
        font-weight: bolder;
    }
    .h2font {
        font-size: 35px;
    }
    .fotocampnou {
        padding-right: 8px ;
        padding-left: 8px;
        padding-bottom: 2rem;
    }
    .fotoequipo {
        padding-right: 8px ;
        padding-left: 8px;
        padding-bottom: 2rem;
    }
    .xavifoto {
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    #main {
        padding-bottom: 50px
    }
    .h3font {
        margin-left: 10% ;
        margin-right: 10%;
    }
    .h1font {
        font-size: 40px;
    }
    .h2font {
        font-size: 25px;
    }
    .lorem2 {
       margin-right: 8%;

    }
    .lorem4 {
        margin-left: 5px;
        padding-top: 10px;
        padding-right: 10px;
    }
    .lorem5 {
        margin-left: 5px;
        padding-top: 10px;
        padding-right: 10px;
    }
    }